body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    font-size:12px;
    padding:0;
    margin:0;
}
header{
	background:#777777;
	padding-left:20px;
	padding-bottom:7px;
	border: 1px solid #ffffff;
	border-radius:7px;
	color:#ffffff;
	margin-bottom: 7px;
}
a{
	color:#ffffff;
	text-decoration: none;
}
table {
	width: 100%;
}
th, td {
	text-align:right;
	padding: 0 0.5em;
	border-bottom: 1px solid #dddddd;
}
td {
	font:smaller verdana, "Andale Mono", Courier, "Courrier new", monospace;
}
thead th {
	vertical-align:bottom;
	border: 1px solid gray;
	border-width: 0 1px 1px 0;
	white-space: normal;
}
td{
	letter-spacing: -1px;
}
footer{
	background:#777777;
	padding-left:20px;
	padding-bottom:7px;
	border: 1px solid #ffffff;
	border-radius:7px;
	color:#ffffff;
	margin-bottom: 7px;
}
